* {
    margin: 0;
    padding: 0;
}

html {
    font-size: .8px;
}

.main_img {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    padding: 25rem 0;
}

body {
    background-color: #f3f3f3;
    ;
    font-family: Arial;
}

main {
    padding: 31rem 0 47rem;
}

.flex {
    display: block;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.contacts {
    flex-wrap: wrap;
}

h1 {
    font-size: 24rem;
    color: #39930d;
    padding-bottom: 17rem;
}

.main_img {
    margin-bottom: 10rem;
    width: 100%;
    object-fit: cover;
}

.img-conteiner img {
    width: 100%;
}

.images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
}

.wrapper {
    max-width: 960rem;
    margin: 0 auto;
    padding: 0 15rem;
}

.bg-white {
    background-color: #fff;
}

.logo {
    display: flex;
    gap: 8rem;
}

.logo p,
.contacts a {
    font-size: 14rem;
    color: #5a5a5a;
    font-weight: bold;
}

.logo b {
    text-transform: uppercase;
    display: block;
    padding: 3 0;
    font-size: 24rem;
    color: #39930d;
}

.logo i {
    font-size: 14rem;
    color: #5a5a5a;
}

.green-clock {
    display: flex;
    align-items: center;
}

.contacts {
    display: flex;
    gap: 29rem;
}

.green-clock {
    font-size: 14rem;
    color: #5a5a5a;
    font-weight: bold;
    text-align: right;
    gap: 10rem;
}

.contacts a {
    display: flex;
    align-items: center;
    gap: 3rem;
}


.menu {
    min-width: 250rem;
}

.menu p {
    padding: 10rem 19rem;
    background-color: #39930d;
    color: #fff;
    font-size: 18rem;
    text-transform: uppercase;
    font-weight: bold;
}

.menu ul {
    padding: 20rem;
}

.menu a {
    color: #343434;
    font-size: 14rem;
    line-height: 2.1em;
    text-decoration: underline;
    text-transform: uppercase;
}

.main-text p {
    max-width: 599rem;
    margin-bottom: 18rem;
    font-size: 14rem;
    line-height: 1.5em;
    color: #343434;
}

.footertext {
    font-size: 14rem;
    color: #fff;
}

footer {
    padding: 14rem 15rem;
    min-width: 300rem;
    background-color: #39930d;
}

.flexu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
}


@media screen and (min-width: 768px) {
    html {
        font-size: .9px;
    }

    .contacts {
        flex-wrap: nowrap;
    }

    .flex{
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 1px;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 1.1px;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 1.5px;
    }
}

@media screen and (min-width: 2200px) {
    html {
        font-size: 1.7px;
    }
}